        
            * {
             box-sizing: border-box;
             -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
             -o-box-sizing: border-box;
             margin: 0;
             font-family: "Poor Richard", sans-serif;
         }
         
          :root {
             --color1: #f5f5f5;
             --color2: #289dd2;
             --color3: #dfdfdf;
             --color4: #9f9f9f;
             --color5: #004d6e;
             --color6: rgb(27, 27, 27);
             --color7: rgba(0, 27, 43, 0.822);
             --color-brownblue: #1d4355;
             --color-brown: #2f31247e;
         }
         
         #loading {
             width: 100vw;
             height: 110vh;
             position: fixed;
             top: -10px;
             background: var(--color7);
             z-index: 100000;
             align-items: center;
             justify-content: center;
             display: flex;
             backdrop-filter: blur(5px);
             transition: 0.3s;
         }
         
         #progress {
             width: 0;
             height: 20px;
             background: var(--color1);
             position: absolute;
             top: 0px;
             transition: 0.3s;
             border-radius: 5px;
             margin: 0px;
         }
         
         .sub-load {
             display: flex;
             animation: scale 1s alternate infinite;
             align-items: center;
             justify-content: center;
             flex-direction: column;
             color: rgb(255, 255, 255);
         }
         
         @keyframes scale {
             from {
                 transform: scale(1.05);
                 opacity: 1;
             }
             to {
                 opacity: 0;
                 transform: scale(1);
             }
         }
         
         @keyframes scalemax {
             from {
                 transform: scale(1);
                 opacity: 1;
             }
             to {
                 opacity: 0;
                 transform: scale(50);
             }
         }
         
         @font-face {
             src: url("../assets/PoorRichardOpti.otf");
             font-family: "Poor Richard";
         }
         
         div[id],
         h1[id] {
             scroll-margin-top: 110px;
         }
         
         .title-sp {
             margin: 10px 0px;
         }
         
         footer {
             color: var(--color1);
             font-size: 1.5rem;
             text-align: center;
             padding: 10px;
             height: 140px;
         }
         
         .center {
             justify-content: center;
             align-items: center;
         }
         
         .margin-top-10px {
             margin-top: 10px;
         }
         
         textarea {
             min-height: 40px;
         }
         
         .c {
             width: 100%;
             max-width: 1594px;
             margin: 0px auto;
             background: rgb(41, 41, 41);
         }
         
         html {
             scroll-behavior: smooth;
             scroll-margin: 0px 0px 200px 0px;
         }
         
         body {
             background: rgb(33, 33, 33);
         }
         
         header {
             width: 100%;
             padding: 10px;
             display: flex;
             justify-content: space-between;
             align-items: center;
             font-size: 1.6rem;
             border-bottom: 1px solid var(--color1);
             position: fixed;
             background: rgb(255, 255, 255);
             max-width: 1594px;
             z-index: 10;
             top: 0;
             transition: 0.5s;
         }
         
         .sub-h {
             width: 100%;
             padding: 10px;
             display: flex;
             justify-content: space-between;
             align-items: center;
             font-size: 1.6rem;
             border-bottom: 1px solid var(--color1);
             background: #fff;
             max-width: 1594px;
             z-index: 10;
         }
         
         .flex {
             display: flex;
         }
         
         .m,
         .cab {
             display: inline-block;
             padding: 10px;
         }
         
         .ab {
             color: var(--color2);
         }
         
         .a-sp:hover {
             border-bottom: 5px solid var(--color2);
             transition: 0.3s;
         }
         
         .a-sp:visited {
             border-bottom: 5px solid var(--color2);
             transition: 0.3s;
         }
         
         .a-sp {
             text-decoration: none;
             color: var(--color-brownblue);
             display: inline-block;
             padding: 10px;
             transition: 0.3s;
             margin: 0px 5px;
             transition: 0.3s;
             border-bottom: 12px solid transparent;
         }
         
         .ban {
             width: 100%;
             margin: 88px 0px 0px 0px;
             /*border-bottom: 1px solid var(--color1);*/
             color: white;
             height: 500px;
             text-shadow: 0px 0px 10px #000;
             background: url("../assets/fon-p-l.png");
             background-attachment: fixed;
             background-repeat: no-repeat;
             background-size: cover;
         }
         
         #name {
             border-right: 3px solid #ad5353;
             animation: 16s wr;
             margin: 0px 0px 0px 10px;
             transition: 0.3s;
             height: 38px;
             width: auto;
             max-width: 250px;
             overflow: hidden;
             display: inline;
             animation: 0.5s prp infinite;
         }
         
         h1[class^="title"] {
             font-weight: 500;
         }
         
         #c-img {
             margin: 0px 0px 0px -55px;
         }
         
         .ic-5 {
             border-radius: 10px;
             width: 250px;
         }
         
         .pro {
             margin: 0px 0px 0px 40px;
             width: 270px;
             animation: enter 0.5s alternate;
         }
         
         .t {
             justify-content: space-between;
             align-items: center;
             padding: 50px 10px;
             width: 100%;
             backdrop-filter: blur(4px);
         }
         
         .tt {
             width: 250px;
             padding: 10px;
             margin: 10px 0px 0px 0px;
             animation: enter 0.5s alternate;
         }
         
         .dcr {
             font-size: 1.2rem;
         }
         
         .t-i {
             font-weight: 300;
         }
         
         .btn-1 {
             padding: 10px;
             border: none;
             border: 3px solid var(--color2);
             border-radius: 2px;
             background: var(--color2);
             color: rgb(255, 255, 255);
             margin: 20px auto;
             font-size: 20px;
             transition: 0.3s;
             display: flex;
         }
         
         .btn-2 {
             width: auto;
             display: flex;
             align-items: center;
             background: var(--color3);
             color: #fff;
             border: none;
             border-radius: 50%;
             padding: 6px;
             font-size: 20px;
         }
         
         #btn_m {
             transform: scale(1.3);
         }
         
         .title-5::before {
             content: "";
             width: 100px;
             height: 5px;
             display: block;
             margin: auto;
             border-bottom: 1px solid rgb(255, 255, 255);
             transition: 0.3s;
         }
         
         .title-5:hover::before {
             content: "";
             width: 0px;
             height: 0px;
             margin: auto;
             transform: rotate(90deg);
             border-left: 10px solid var(--color2);
             border-top: 5px solid transparent;
             border-bottom: 5px solid transparent;
         }
         
         .triangle {
             width: 0px;
             height: 0px;
             margin: auto;
             transform: rotate(90deg);
             border-left: 10px solid var(--color2);
             border-top: 5px solid transparent;
             border-bottom: 5px solid transparent;
         }
         
         .btn-5 {
             width: auto;
             display: flex;
             align-items: center;
             background: var(--color2);
             color: #fff;
             border: none;
             border-radius: 2px;
             padding: 6px;
             font-size: 20px;
         }
         
         .par {
             width: 600px;
             margin: 40px auto;
         }
         
         .title-5 {
             margin-bottom: 20px;
         }
         
         .tut {
             width: 100%;
             margin: auto;
             text-align: center;
             color: var(--color3);
             font-size: 1.4rem;
         }
         
         .wrap {
             display: flex;
             flex-wrap: wrap;
             width: 100%;
             margin: auto;
             max-width: 1000px;
             min-width: 324px;
             justify-content: center;
             align-items: baseline;
         }
         
         .element {
             margin: 20px 20px;
         }
         
         .column {
             flex-direction: column;
         }
         
         .center {
             justify-content: center;
             align-items: center;
         }
         
         .tc {
             padding: 20px;
             background: var(--color6);
             border-radius: 10px;
             transition: 0.3s;
             position: relative;
             cursor: pointer;
             min-height: 200px;
             top: 0px;
         }
         
         .tc:hover {
             top: -5px;
             transition: top 0.3s;
         }
         
         .tc:hover::after {
             content: "Quiero saber más";
             position: absolute;
             background: rgb(255, 255, 255);
             padding: 5px;
             width: auto;
             transition: 0.3s;
             transform: scale(1.4);
             border-radius: 5px;
             box-shadow: 0px 0px 10px rgb(83, 83, 83);
             font-size: 16px;
             animation: up 0.6s;
             margin: auto;
             color: #000;
         }
         
         .skills {
             width: 100%;
             height: auto;
             margin: 20px 0px;
             color: var(--color3);
             text-align: center;
             font-size: 1.6rem;
         }
         
         .c-form {
             width: 100%;
             height: auto;
             background: url("../assets/by.jpg");
             background-attachment: fixed;
             background-repeat: no-repeat;
             background-size: cover;
             text-align: center;
             color: var(--color1);
             font-size: 1.2rem;
         }
         
         button[type="submit"] {
             background: var(--color2);
             color: white;
             border-radius: 2px;
             padding: 10px;
             font-size: 1.4rem;
             transition: all 0.2s;
         }
         
         .term {
             width: 420px;
             background: rgb(27, 27, 27);
             border-radius: 5px;
         }
         
         .time {
             width: auto;
             padding: 4px;
             background: var(--color2);
             border-radius: 5px;
             color: white;
             font-weight: 200;
             margin: 10px 0px;
             display: inline-block;
         }
         
         .space-between {
             justify-content: space-between;
         }
         
         .content-title {
             margin: 15px auto;
         }
         
         .imgterm {
             width: 100%;
             border-radius: 5px 5px 0px 0px;
         }
         
         .des {
             padding: 11px;
         }
         
         #b_top {
             position: fixed;
             border-radius: 2px;
             padding: 8px;
             bottom: 10px;
             border: none;
             right: -100%;
             font-size: 29px;
             color: var(--color3);
             transition: all 0.3s;
             background: var(--color-brownblue);
         }
         
         textarea,
         input {
             max-width: 100%;
             min-width: 100%;
             max-height: 200px;
             outline: none;
             border: none;
             border-radius: 3px;
             color: var(--color4);
             font-size: 1.2rem;
             background: var(--color-brown);
         }
         
         input {
             height: 40px;
         }
         
         .bdrp {
             width: 100%;
             padding: 40px 10px;
             backdrop-filter: blur(10px);
         }
         
         #btn_g {
             margin: 20px 0px 0px 0px;
             transition: 0.3s;
         }
         
         .form-1 {
             width: 50%;
             padding: 40px;
             margin: auto;
             background: var(--color7);
             border-radius: 5px;
             color: var(--color3);
             text-align: left;
             transition: 0.3s;
             max-width: 470px;
         }
         
         .btn-1:hover {
             animation: 1s covered;
             background: transparent;
             backdrop-filter: blur(20px);
         }
         
         .btn-1:active {
             position: relative;
             top: 1px;
             background: var(--color2);
         }
         
         @keyframes prp {
             from {
                 border-color: transparent;
             }
             to {
                 border-color: #f00;
             }
         }
         
         .opened {
             right: 0;
             opacity: 1;
             transition: opacity, right 0.3s;
         }
         
         .closed {
             right: -100%;
             opacity: 0;
             transition: opacity, right 0.3s;
         }
         
         #menu {
             width: 100%;
             height: 100%;
             position: fixed;
             background: rgba(75, 75, 75, 0.378);
             top: 0;
             z-index: 100;
             opacity: 1;
             overflow-y: auto;
         }
         /*.menu z-idex:100*/
         
         #sub-menu {
             width: 500px;
             height: 100%;
             top: 0;
             position: fixed;
             background: white;
             z-index: 101;
         }
         /*.menu z-idex:101*/
         
         nav {
             font-size: 1.5rem;
         }
         
         ul {
             list-style: none;
             padding: 20px;
         }
         
         li {
             margin: 25px 0px 0px 25px;
             /*border-bottom: 1px solid var(--color1);*/
         }
         
         button,
         b,
         img {
             user-select: none;
             cursor: pointer;
         }
         
         #btn-c {
             margin-left: 10px;
             font-family: sans-serif;
             padding: 8px;
         }
         
         #img-face {
             animation: enter 0.5s alternate;
         }
         
         @keyframes enter {
             from {
                 transform: scale(0);
             }
         }
         
         @keyframes desp1 {
             from {
                 right: -100%;
             }
             to {
                 right: 0;
             }
         }
         
         @keyframes covered {
             0% {
                 background: var(--color2);
             }
             100% {
                 background: transparent;
             }
         }
         
         @media only screen and (max-width: 876px) {
             .t {
                 flex-direction: column;
                 text-align: center;
             }
             div[class^="ab"] {
                 display: none;
             }
             .m {
                 padding: 5px;
             }
             .ic {
                 width: 30vw;
             }
             .tt {
                 width: 282px;
             }
             .ban {
                 margin: 73px 0px 0px 0px;
                 height: auto;
             }
             .par {
                 width: 90%;
             }
             .pro {
                 margin: 20px auto;
                 width: auto;
                 font-size: 16px;
             }
             #c-img {
                 margin: 0;
             }
             .form-1 {
                 width: 95%;
             }
             #btn_g {
                 margin: 10px auto;
             }
         }
         
         @media only screen and (max-width: 330px) {
             .wrap {
                 flex-direction: column;
                 align-items: center;
                 max-width: 100%;
                 min-width: 100%;
             }
             .pro {
                 font-size: 12px;
             }
             .bdrp {
                 padding: 40px 0px;
             }
             .element {
                 width: 240px;
                 font-size: 16px;
             }
         }
         
         @media only screen and (max-width: 360px) {
             #bdrp {
                 padding: 40px 0px 0px 0px;
             }
         }
         
         @media only screen and (min-width: 876px) {
             .cab {
                 display: none;
             }
         }
         
         @media only screen and (max-width: 290px) {
             .pro {
                 font-size: 12px;
             }
             .bdrp {
                 padding: 40px 0px;
             }
             .element {
                 width: 240px;
                 font-size: 16px;
             }
             .wrap {
                 max-width: 100%;
                 min-width: 100%;
             }
         }
         
         @media only screen and (max-width: 570px) {
             #sub-menu {
                 width: 100%;
             }
             .form-1 {
                 padding: 15px;
                 width: 100%;
                 border-radius: 0;
             }
             #name {
                 height: auto;
             }
             header {
                 padding: 5px;
             }
             .cab {
                 padding: 5px;
             }
             .bdrp {
                 padding: 40px 0px 20px 0px;
             }
         }
         
         .code {
             width: auto;
             padding: 10px;
             border-left: 3px solid;
             border-radius: 4px;
             color: rgb(0, 0, 0);
             transition: 0.3s;
             margin-top: 10px;
         }
         
         .error {
             border-left-color: rgb(197, 0, 0);
             background: rgb(255, 153, 112);
         }
         
         .success {
             border-left-color: rgb(0, 104, 0);
             background: rgb(159, 255, 159);
         }
         
         .suggestion {
             border-left-color: rgb(148, 133, 2);
             background: rgb(255, 251, 124);
         }
         
         .sending {
             border-left-color: var(--color5);
             background: var(--color2);
             animation: parp 1s alternate infinite;
         }
         
         @keyframes parp {
             from {
                 opacity: 1;
             }
             to {
                 opacity: 0;
             }
         }
         
         @keyframes up {
             from {
                 opacity: 0;
             }
             to {
                 opacity: 1;
             }
         }
        
