*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter","sans-serif";
    transition: all 0.3s;
}

@font-face {
    src: url("../assets/fonts/inter-font.ttf");
    font-family: "Inter";
}
button{
    cursor: pointer;
    border: none;
    background: #fff;
}
.loader{
    position: relative;
    animation: parpadear infinite 1.5s alternate;
}
@keyframes parpadear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.cloader{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 12;
    width: 100%;
    height: 100%;
    background: #fff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    box-shadow: 0px -6px 20px grey;
    padding: 5px;
    position: fixed;
    background: #fff;
    z-index: 10;
}
h1,h2,h3{
    color: #F25C05;
    margin: 5px;
}
h4{
    margin: 5px;
}
.h-ele{
    width: 90px;
}
#bmenu{
    border: none;
    background: transparent;
}
.content{
    margin: 70px 0px 0px 0px;
    position: absolute;
    width: 100%;
    padding: 5px;
}
#ent,#plf,#pos,#beb{
    width: 100%;
}
.tar{
    box-shadow: 0px 0px 3px grey;
    margin: 5px;
    max-width: 470px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
}
.tar .subcontent{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.ctext{
    width: 70%;
    padding: 7px;
}
.ctext > h4, .ctext > div, .ctext > p{
    margin: 5px 0px 0px 0px;
}
.cimg{
    width: 30%;
    max-width: 190px;
}
.cprecio{
    display: flex;
    font-size: 25px;
}
.ord{
    padding: 10px;
    background: #F25C05;
    color: #fff;
    box-shadow: 0px 1px 3px grey;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.cbutton{
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-top: 3px solid #F25C05;
}

.capa_pri{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(209, 209, 209, 0.314);
    z-index: 0;
    font-size: 20px;
    opacity: 0;
}
.capa_pri_act{
    z-index: 20;
    opacity: 1;
}
.capa_sec_act{
    z-index: 21 !important;
}
.capa_sec{
    position: fixed;
    width: 500px;
    height: auto;
    padding: 20px;
    background: #fff;
    top: 10vh;
    z-index: 0;
}
.capa_sec *{
    margin: 5px 0px 5px 0px;
    font-weight: 500;
}
.subheader{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button_closer{
    font-size: 30px;
}
input[type="number"],select{
    width: 100%;
    height: auto;
    margin: auto;
    font-size: 20px;
    border: none;
    box-shadow: 0px 1px 3px grey;
    padding: 10px;
    outline: none;
}
input[type="submit"]{
    padding: 10px;
    background: #F25C05;
    color: #fff;
    box-shadow: 0px 1px 3px grey;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 16px 0px 50px 0px;
}
.flex{
    display: flex;
    width: 100%;
}
.center{
    justify-content: center;
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.alert{
    padding: 5px;
    color: #000000;
    background: #ffa500;
    border-radius: 3px;
}
.inv{
    opacity: 0;
}
.vis{
    opacity: 1;
}

