* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    text-align: center;
    color: white;
}

body {
    background: black;
    min-width: 340px;
    zoom: 150%;
}

.container {
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 255);
    margin: 0px 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    position: relative;
}

.punto,
.punto2 {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
}

.black {
    background: rgb(41, 41, 41);
}

.white {
    background: rgba(255, 255, 255, 0);
}

button {
    background: rgb(41, 41, 41);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 4px 3px 0px;
    position: relative;
}

button:active {
    top: 5px;
    box-shadow: 0px 2px 3px 0px;
}

button:hover {
    background: rgb(55, 55, 55);
}

.deleted {
    display: none;
}

#result,
#result2 {
    margin: 10px;
    color: white;
    padding: 5px;
    border: 1px solid grey;
}

.plat {
    margin: auto;
    width: 300px;
    height: 50px;
    box-shadow: 0px 7px 11px 0px white;
    border-radius: 50%;
    top: -30px;
    position: relative;
    z-index: -8;
}

@keyframes agitar {
    0% {
        top: 0px;
        transform: rotate(0deg);
    }
    50% {
        top: -400px;
        transform: rotate(360deg);
    }
    100% {
        top: 0px;
    }
}

.n {
    margin-top: 15px;
    margin-bottom: 50px;
}

.conj {
    display: flex;
    margin: auto;
    justify-content: center;
}
